body {
    height: 100%;
    margin: 0;
      /* The image used */
      background-image: url("./Images/bg.jpg");
      background-image: fixed;
  
  /* Full height */
  height: 100%; 
  
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }


  .camb{
    position: fixed;
    z-index: 100;
    top: 59px;
    left: 1190px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 16px;
  }

  .sinb{
    position: fixed;
    z-index: 100;
    top: 59px;
    left: 1121.5px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 16px;
  }

  .video{
    position: relative;
    z-index: 10000;
    top: 10px;
    left: 200px;
  }

  canvas {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 200px;
  }
  
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #333;
    overflow: hidden;
    z-index: 1000;
    position: fixed;
    width: 100%;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .container {
    position: absolute;
    background-size: 100% 100%;
    top: 110px;
    left: 0px; /* fixed to left. Replace it by right if you want.*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    text-align: center;
    z-index: 100;
    scroll-margin-top: 100px;
    }
  .col-md-12{
    position: relative;
  }
  .songs, .album, .playlist{
    position: relative;
  }

  

  .tracks, .buttons{
    position: absolute;
  }


  .featuresinfo, .videoinfo{
    z-index: 1000;
  }

  .btn-group button {
    background-color: #640092; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    position: relative;
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  #overlay {
    position: absolute;
    display: none;
    width: 15%;
    height: 28%;
    top: 0;
    left: 10px;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1001;
    cursor: pointer;
  }

#text{
    color: rgb(231, 231, 241);
  }

  .search{
    position: fixed;
    z-index: 1000;
    right: 10px;
    top: 10px;
  
  }
  .slogin {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 16px;
  }

  .type{
      position: fixed;
      z-index: 1000;
      right: 200px;
      top:10px
  }

  .slogin{
    position: fixed;
    top: 60px;
    right: 30px;
  }

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 10001;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#voverlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 10001; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#mvideo{
  position: absolute;
}


/* Dropdown Button */
.dropbtn {
  background-color: #5e0aa3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
